/* Стили для Webstudio */
:root{
 --primary-text-color: #000000;
 --accent-color: #2196F3 ; 
 --title-text-color:#212121 ;
 --button-text-color:#188CE8 ;
 --hero-text-color:#ffffff;
 --feature-text-color:#757575;
 --fon-text-color: #F5F4FA;
 --grey-text-color: rgba(255, 255, 255, 0.6);
 --box-text-color:#2F303A;
}

h1,h2,h3 {
  margin: 0;
}

ul,p {
  margin: 0;
  padding: 0;
}

.body-studio{
  font-family:"Roboto",sans-serif;
  background-color: var(--hero-text-color);
  color: var(--title-text-color);

}
.container{
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-link{
  padding-top: 24px;
  padding-bottom: 24px;
}
.website{
  color: var(--accent-color) ;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

}

.logo-link{
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-link{
  text-decoration: none;
}

.list{
  list-style: none;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-nav{
  margin-left: 93px;
}

.site-nav{
  display: flex;
 
}

.site-nav .item {
  margin-right: 50px;
  
}
.site-nav .item:last-child{
  margin-right: 0;
}

.site-nav .item + .item{
  margin-left: 50px;
  margin-left: 0;
}

.site-nav .link{
 position: relative;
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;

 color: var(--title-text-color);

 font-family: Roboto;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus{
 color:var(--accent-color);
}
.link.current{
  color: var(--accent-color);
}
.contact-list{
  display: flex;
  margin-left: auto;
}

.contact .item + .item{
  margin-left: 50px;
}
.contact .list{
  padding-left: 0;
  display: block;
}
.contact-list .item{
  margin-left: 50px;
}
.item a{
 display: flex;
  align-items: center;
  justify-content: center;
}

.link{
  position: relative;
 
}

.link.current::after{
content: '';
display: block;
position: absolute;
width: 100%;
height: 4px;
background-color: var(--accent-color);
border-radius: 2px; 

left: 0;
bottom: -1px;
}

.link{
  text-decoration: none;
}

.icon-envelope-hover{
  margin-right: 10px;
  fill: currentColor;
}


.icon-smartphone{
 margin-right: 10px;
 fill: currentColor ;
}


.contact-link{
  position: relative;
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;

 color: var(--feature-text-color);
 font-family: Roboto;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus{
  color:var(--accent-color);
}
.contact-list{
  list-style: none;
}
.contact-link{
  text-decoration: none;
}


        /* Hero */

.hero{
  background: var(--box-text-color);
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
  
  url(../images/Imageoverlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.center-hero {
 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  }
  
  .hero-title{
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase; 
}

.button{
  position: relative;
  display:inline-block;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;

 color: var(--hero-text-color);
 background-color:var(--accent-color);
 
 font-family: Roboto;
 font-weight: bold;
 font-size: 16px;
 line-height: 1.87;
 cursor: pointer;
 align-items: center;
 letter-spacing: 0.06em;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.button:hover{
  background-color:var(--button-text-color);   
}  
  /*-- Модальное окно --*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
  opacity: 0;
 pointer-events: none;
 visibility: hidden;
 
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(1.2);
}
.modal{
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--hero-text-color);
  max-width: 528px;
  max-height: 581px;

  transform: translate(-50%, -50%) scale(1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 

}
.icon-box{

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
 top: 8px;
 right: 8px;
  padding: 6px;
  width: 30px;
 height: 30px;
 background-color: var(--hero-text-color);
 border-radius: 50%;
 border: 1px solid rgba(0, 0, 0, 0.1);
 cursor: pointer;
 transition:  border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.icon-box:hover,
.icon-box:focus{
  fill: var(--accent-color);
 
}

.icon-close{
  display: block;
  width: 18px;
  height: 18px;
 
}


.declare{
 display: block;
  justify-content: center;
  align-items: center;
  
 margin-bottom: 12px;
 font-family: Roboto;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 letter-spacing: 0.03em;
 color: var(--title-text-color);
 
}
.field-name{
  position: relative;
  display: flex;
  flex-direction: column;
 margin-bottom: 10px;
}
.field-name label{
  margin-bottom: 4px;
}

.field-name:focus-within .icon-person{
  fill: var(--accent-color);
}








.icon-person{

  position: absolute;
  left: 12px;
  top: 29px;
 
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-person:focus{
  fill: var(--accent-color);
}

.field-tel{
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.field-tel label{
 margin-bottom: 4px;
}
.tel{
 font-family: Roboto;
 font-size: 12px;
 line-height: 1.16;

 letter-spacing: 0.01em;
 color: var(--feature-text-color);
}



.icon-phone{
  position: absolute;
  left: 12px;
  top: 29px;
 
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone:focus{
  fill: var(--accent-color);
}

.field-tel:focus-within .icon-phone{
  fill: var(--accent-color);
}

.field-email{ 
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
 
}
.email{
font-family: Roboto;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--feature-text-color);
}

.field-email label{
  margin-bottom: 4px;
 }

.icon-email{
  position: absolute;
  left: 12px;
  top: 29px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email:focus{
  fill: var(--accent-color);
}

.field-email:focus-within .icon-email{
  fill: var(--accent-color);
}

.field-comment{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
 font-size: 12px;
 line-height: 1.16;
 letter-spacing: 0.01em;
 color: var(--feature-text-color);


}

.comment-text{
  position: relative;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
 cursor: pointer;
 
 transition:  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus{ 
  border: 1px solid var(--accent-color);
  outline:none;

}

.field-comment textarea {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px;
 color: rgba(117, 117, 117, 0.5);
}

.field-comment label{
  margin-bottom: 4px;
  
 }

 


.form-label{
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--feature-text-color);
}

.form-input{
  position: relative;
  height: 40px;
  width: 100%;
 border: 1px solid rgba(33, 33, 33, 0.2);
 box-sizing: border-box;
 border-radius: 4px;
 cursor: pointer;
 padding-left: 42px;
 transition:  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:focus{
  border: 1px solid var(--accent-color);
  outline:none;
}
.policy {
 display: block;
  flex-direction: column;
  position: relative;
  font-family: Roboto;
  align-items: center;
 justify-content: center;
 font-size: 14px;
 line-height: 1.71;
 
 letter-spacing: 0.03em;
 color: var(--feature-text-color);
 margin-bottom: 30px;
 padding-left: 12px;


}
.policy-link{
  color: var(--accent-color);

}




.icon{
 width: 16px;
 height: 15px;
 display: inline-block;
 margin-right: 7px;
 border: 2px solid var(--title-text-color);
 border-radius: 4px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .icon{
  background-color: var(--accent-color);
  background-image: url(../images/full-chek.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.icon-Vector-2{
  position: absolute;
 width: 16px;
 height: 15px;
 left: 6px;
 top: 3px;
 opacity: 0;
}
.send{
 cursor: pointer;
 display:inline-block;
 align-items: center;
 text-align: center;
 border-color: transparent;
 width: 200px;
 height: 50px;
 font-family: Roboto;
 font-weight: bold;
 font-size: 16px;
 line-height: 1.87; 
 letter-spacing: 0.06em;
 color: var(--hero-text-color);
 background: var(--accent-color);
 margin-left: 124px;
 margin-right: 124px;
 
 border-radius: 4px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send:hover{
  background-color:var(--button-text-color);  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 

.section{
 padding-top: 94px;
 padding-bottom: 94px;
}

.section-list{
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.one:not(:last-child) {
  margin-right: 30px;
}

.five{
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
   border-radius: 4px;
}

.section-title{
  margin-bottom: 10px;
  color: var(--title-text-color) ;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} 

.section-feature{
 margin-top: 0;
 margin-bottom: 0;
 color: var(--feature-text-color);
 font-family: Roboto;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 width: 270px;
}

.section-list{
  list-style: none;
}

      /* Что мы делаем */ 
.working{
 padding-top: 0;
 padding-bottom: 94px;
}
    
.work{
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: bold;  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list{
 display: flex;
 list-style: none;
}

.photo{
  position: relative;
  margin-left: 0;
  margin-right: 30px;
}

.photo:last-child{ 
 margin-right: 0;
}

.photo-box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.photo-text{
  font-family: Roboto;
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
 line-height: 1.14;
 text-align: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: var(--hero-text-color);
}

.the-best{
  background: var(--fon-text-color);
  padding-top: 94px;
  padding-bottom: 94px;

}

/* Наша команда */


.team{
 margin-bottom: 50px;
 color: var(--title-text-color);
 background: var(--fon-text-color);
 font-family: Roboto;
 font-weight: bold;
 font-size: 36px;
 line-height: 1.16;
 text-align: center;
 letter-spacing: 0.03em;
}

.people{
  padding: 30px 32px;
}

.team-list{
 margin-top: 0;
 margin-bottom: 10px;
 color: var(--title-text-color);
 font-family: Roboto;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.18;
 text-align: center;
 letter-spacing: 0.03em;
}

.profession{
 color: var(--feature-text-color);
 font-family: Roboto;
 margin-bottom: 16px;
 font-size: 16px;
 line-height: 1.18;
 text-align: center;
 letter-spacing: 0.03em;
}

.team-professionals-list{
  display: flex;
  background: var(--fon-text-color);
  list-style: none;
}

.social{
  display:flex ;
  list-style: none;
  justify-content: center;
}

.social-link{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
 width: 44px;
 height: 44px;
 fill: #AFB1B8;
 border-radius: 50%;
 background-color: rgba(255, 255, 255, 0.1);
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
} 

.social-item{
  margin-right: 10px;
}

.social-item:last-child{
  margin-right: 0;
}

.social-icon{
  width: 20px;
  height: 20px;
}

.social-link:hover{
  cursor: pointer;
background-color: var(--button-text-color);
fill: var(--hero-text-color);
}

.social-link:focus{
 cursor: pointer;
 background-color: var(--button-text-color);
 fill: var(--hero-text-color);
}

.workers{
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers:not(:last-child) {
  margin-right: 30px;
}

   /*--Клиенты--*/
  
.clients{ 
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-logos{
  display: flex;
}

.clients-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item{
  margin-left: 0;
  margin-right: 30px;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-title{
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
 
.clients-link{
  position: relative;
  display: flex;
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid#AFB1B8;
  padding: 0;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.clients-link:hover{
  border: 1px solid var(--accent-color);

}
.clients-link:focus{
  border: 1px solid var(--accent-color);
  
}
.clients-link:hover{ 
  fill: var(--accent-color);
  background-color: var(--hero-text-color);
 
}
.clients-link:focus{
  fill: var(--accent-color);
  background-color: var(--hero-text-color);
}

.clients-item{
  list-style: none;
}

.clients-link{
  display: flex; 
   
}

.clients-link:hover{
background-color: var(--accent-color);
background-color: var(--hero-text-color);
}

.clients-link:focus{
  background-color: var(--accent-color);
  background-color: var(--hero-text-color);
}



/*-- Подвал--*/

.footer-link{
  display: block;
  margin-bottom: 20px;
 color: var(--hero-text-color);
 font-family: Raleway;
 font-weight: bold;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
}

.footer-link{
  text-decoration: none;
}

.website{
 color: var(--accent-color);
 font-family: Raleway;
 font-weight: bold;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
}
   

    /* Адрес сайта */

.rots{ 

  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--box-text-color);
 
}
.destination{
  width: 231px;
}
.address-street{
 color:  var(--hero-text-color);
 font-family: Roboto;
 font-style: normal;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
}

.kiev{
  margin-top: 0;
  margin-bottom: 9px;
}

.kiev:last-child{
  margin-bottom: 0;
}

.address-street-list{
  list-style: none;
}

.address-link{
  position: relative;
 color: var(--grey-text-color);
 font-family: Roboto;
 font-style: normal;
 font-size: 14px;
 line-height: 1.72;
 letter-spacing: 0.03em;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{
 color: var(--accent-color);
}
.address-link{
  text-decoration: none;
}
 /*--Присоединяйтесь--*/

.footer-container{
  display: flex;
  align-items: baseline;
 width: 1200px;
}
.join-container{
  width: 206px;
  height: 80px;
  margin-left: 70px;
}


.join-title{
  font-family: Roboto;
 font-style: normal;
 font-weight: bold;
 color:var(--hero-text-color);
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 margin-bottom: 20px;

 
}
.join-super{
  display: flex ;
  justify-content: center;
 align-items: center;
 list-style: none;
}
.join-link{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  padding: 0;
 width: 44px;
 height: 44px;
 fill: #AFB1B8;
 border-radius: 50%;
 background-color: rgba(255, 255, 255, 0.1); 
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 
.join-list{
  margin-left: 0;
  margin-right: 10px;
}
.join-list:last-child{
 margin-right: 0;
}

.join-icon{
  width: 20px;
  height: 20px;
 fill: #ffffff;
}

.join-link:hover{
  cursor: pointer;
  background-color: var(--button-text-color);
  fill: var(--hero-text-color);
  }
  .join-link:focus{
   cursor: pointer;
   background-color: var(--button-text-color);
   fill: var(--hero-text-color);
  }

.mailing{
  width: 570px;
  height: 86px;
  margin-left: 93px;
}


.mailing-form{
  display: flex;
}

.subscription{
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 19px;
}
.mail-input{
  
 width: 358px;
 height: 50px;
 
 box-sizing: border-box;
 border-radius: 4px;
 background-color: var(--box-text-color);
 cursor: pointer;
 display: flex;
 font-size: 16px;
line-height: 20px;
 letter-spacing: 0.03em;
 display: flex;
 align-items: center;
 color: rgba(255, 255, 255, 0.6);
 border: 1px solid rgba(255, 255, 255, 0.3);
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}


.mailing-form input{
 padding-left: 16px;
 outline:none;

}

.airplane{
  position: relative;
  display: block;
 width: 200px;
 height: 50px;
 font-weight: 700;
 letter-spacing: 0.06em;
 background: var(--accent-color);
 border-radius: 4px;
 color: var(--hero-text-color);
 margin-left: 12px;
 cursor: pointer;
 border-color: transparent;
 transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.airplane:hover, 
.airplane:focus{ 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 

.icon-icon{
  position: absolute;
  height: 24px;
  width: 24px;
  right: 28px;
  top: 13px;

 
}
.mailing-form button{
padding: 10px 62px 10px 29px;
}












/* Стили для.portfolio */
.body-portfolio{
 background-color: var(--hero-text-color);
} 


.page-header {                                                                                       
  border-bottom: 1px solid #ECECEC;
} 

.poster{
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list{
  position: relative;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  border-color: transparent;

 color: var(--title-text-color);
 font-family: Roboto;

 font-weight: 500;
 font-size: 16px;
 line-height: 1.85;
 cursor: pointer;
 letter-spacing: 0.03em;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all{
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.site-buttons.list{
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  justify-content: center;
}

.two{
  margin-left: 8px;
}

.two:first-child{ 
  margin-left: 0;
 }


 .buttons-list:hover,
 .buttons-list:focus{
 color: var(--hero-text-color);
 background-color:var(--accent-color) ;
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.pictures{
  
  display: flex;
  flex-wrap: wrap;
 
}

.design{
 margin-right: 30px;
 margin-bottom: 30px;
 box-sizing: border-box;
  width: 370px;
}
.sites{
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.sites:hover,
.sites:focus{
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

 img {
  display: block;
  max-width: 100%;
  height: auto;   
 } 

.signature{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.design:nth-child(3n) {
  margin-right: 0;
  }

.design:nth-child(n + 7) {
 margin-bottom: 0;
}

.design:nth-child(-n + 3) {
margin-top: 0;
}

.site-nav.link.current{
 color: var(--accent-color);
}

.picture-list{
 list-style: none;
}

.sites{
 text-decoration: none;
}

.decoration{
 margin-top: 0;
 margin-bottom: 4px;
 color: var(--title-text-color);
 font-family: Roboto;
 font-weight: bold;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;
}

.decoration-text{
 color: var(--feature-text-color);
 font-family: Roboto;
 font-size: 16px;
 line-height: 1.87;
 letter-spacing: 0.03em;
}

.portfolio-thumb{
  position: relative;
  overflow: hidden;
}

.portfolio-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
 

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}


.sites:hover .portfolio-overlay,
.sites:focus .portfolio-overlay{
  transform: translateY(0);
  opacity: 1;
}
.paragraph{
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 63px 24px;
 
  font-size: 18px;
  line-height: 1.55;
  color: var(--hero-text-color);
  letter-spacing: 0.03em;
  opacity: 1;
 
 
 }
